body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9263ff;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

form {
    /* display: flex; */
    gap: 10px;
}

#listaPalabrasClave {
    list-style: none;
    padding: 0;
}

#listaPalabrasClave li {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
