body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    background-color: #4b6a82;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-top: -10px; /* Ajusta la posición del divLogin respecto al header */
}

header {
    background-color: #9263ff;
    color: white;
    text-align: center;
    padding: 20px;
}

#divLogin, #divRegistrar {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

#divLogin input, #divRegistrar input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#divLogin button, #divRegistrar button {
    background-color: #007bb5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    width: 90%;
}

#divLogin button:hover, #divRegistrar button:hover {
    background-color: #005f87;
}

#divRegistrar button#btnIrALogin, #divLogin button#btnIrARegistro{
    margin-top: 10px;
    padding: 8px 24px;
}

#divLogin p{
    margin-top: 50px;
}

#divLogin img, #divRegistrar img{
    position: absolute; 
    right: 820px; 
    transform: translateY(-160%); 
    cursor: pointer; 
    width: 24px; 
    height: 24px;
}

/* Estilo común para los contenedores de cada sección */
/* Establecer el contenedor con Flexbox para distribuir los elementos */
#divMenuPrincipal {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre los divs internos */
    padding: 40px; /* Un poco de espacio alrededor del contenido */
    position: relative; /* Necesario para los botones absolutos */
}

/* Estilo general para todos los divs del menú principal */
#divMenuPrincipal > div {
    background-color: #f0f8ff; /* Color de fondo suave */
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#divMenuPrincipal h1, #divMenuPrincipal h2 {
    color: #007bff; /* Color de los títulos */
}

#divMenuPrincipal button {
    margin-top: 10px;
    background-color: #007bb5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#divMenuPrincipal button:hover {
    background-color: #005f87;
}

#btnLogout, #btnProtected{
	background-color: #007bb5;
	color: white;
	border: none;
	padding: 10px 15px;
    margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	width: auto;
}

#btnLogout:hover, #btnProtected:hover{
	background-color: #005f87;
}